body {
    color:#212121;
    background-color: #F5F5F5;
}
.list {
    list-style: none;
    
}
.current {
    color:#2196F3;
}

.logo {
    color: #000000;
    text-decoration: none;
}

.site-nav .link {
    color:#212121;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
/* hero */
.hero-title {
    color: #FFFFFF;
}


.section {
    color:#757575;
}
.section-title {
    color: #212121;
}


/* колір основного тексту #212121; */

/* допоміжний колір тексту #757575;  */

/*  білий колір #FFFFFF; */

/* колір акцент #2196F3 */

/* background: #2F303A; */
/* колір logo #000000  та акцент #2196F3   */